_size_l = xsm, sm, md, lg, xlg;
_size = sm, md, lg;

/*
 * gap
 */
_gap_xsm = 6px;
_gap_sm = 12px;
_gap_md = 20px;
_gap_lg = 30px;
_gap_xlg = 44px;

:export {
  gap_xsm: _gap_xsm;
  gap_sm: _gap_sm;
  gap_md: _gap_md;
  gap_lg: _gap_lg;
  gap_xlg: _gap_xlg;
}

/*
 * outer
 */
_outer_sm = 28px;
_outer_md = 40px;
_outer_lg = 52px;

:export {
  outer_sm: _outer_sm;
  outer_md: _outer_md;
  outer_lg: _outer_lg;
}

/*
 * inner
 */
_inner_sm = 24px;
_inner_md = 34px;
_inner_lg = 44px;

:export {
  inner_sm: _inner_sm;
  inner_md: _inner_md;
  inner_lg: _inner_lg;
}

/*
 * font-size
 */
_font_xsm = 12px;
_font_sm = 14px;
_font_md = 16px;
_font_lg = 18px;
_font_xlg = 20px;

:export {
  font_xsm: _font_xsm;
  font_sm: _font_sm;
  font_md: _font_md;
  font_lg: _font_lg;
  font_xlg: _font_xlg;
}

/*
 * font-size
 */
_icon_sm = 18px;
_icon_md = 22px;
_icon_lg = 26px;

:export {
  icon_sm: _icon_sm;
  icon_md: _icon_md;
  icon_lg: _icon_lg;
}

/*
 * other
 */
_link_color = _blue;
