@import './colors/';
@import './size/';

/*  Btn  */

// 字体大小
_btn_font_sm = 14px;
_btn_font_md = 16px;
_btn_font_lg = 18px;

// 间隔距离
_btn_gap_sm = 12px;
_btn_gap_md = 14px;
_btn_gap_lg = 16px;

// 按钮内图标大小
_btn_icon_sm = 16px;
_btn_icon_md = 18px;
_btn_icon_lg = 20px;

/*  Icon  */

// 图标尺寸
_default_icon_size = 24px;
_default_icon_color = #666;

/*  Switch  */

//  开关高度
_switch_size_sm = 20px;
_switch_size_md = 30px;
_switch_size_lg = 40px;

//  开关间隔距离
_switch_gap_sm = 2px;
_switch_gap_md = 3px;
_switch_gap_lg = 4px;