@import './colors/';
@import './size/';

/*  Btn  */

// 字体大小
_btn_font_sm = 12px;
_btn_font_md = 14px;
_btn_font_lg = 16px;

// 间隔距离
_btn_gap_sm = 12px;
_btn_gap_md = 14px;
_btn_gap_lg = 16px;

// 按钮内图标大小
_btn_icon_sm = 13px;
_btn_icon_md = 18px;
_btn_icon_lg = 22px;

/*  Icon  */

// 图标尺寸
_default_icon_size = 24px;
_default_icon_color = #666;

/*  Switch  */

//  开关高度
_switch_size_sm = 20px;
_switch_size_md = 30px;
_switch_size_lg = 40px;

//  开关间隔距离
_switch_gap_sm = 2px;
_switch_gap_md = 3px;
_switch_gap_lg = 4px;

/*  Grid  */

//  栅格
_grid_columns = 24;

//  响应式栅格系统
_grid_screen_xsm = 480px;
_grid_screen_sm = 768px;
_grid_screen_md = 992px;
_grid_screen_lg = 1200px;
_grid_screen_xlg = 1600px;

/* CheckBox */

// 字体大小
_checkbox_font_sm = 12px;
_checkbox_font_md = 14px;
_checkbox_font_lg = 16px;

// 开关大小
_checkbox_switch_sm = 13px;
_checkbox_switch_md = 15px;
_checkbox_switch_lg = 17px;

/* Radio */

// 字体大小
_radio_font_sm = 12px;
_radio_font_md = 14px;
_radio_font_lg = 16px;

// 开关大小
_radio_switch_sm = 13px;
_radio_switch_md = 15px;
_radio_switch_lg = 17px;

/* Select */

// 字体大小
_select_font_sm = 12px;
_select_font_md = 14px;
_select_font_lg = 16px;

// 宽度
_select_width_sm = 140px
_select_width_md = 230px
_select_width_lg = 320px

// 高度
_select_float_height_sm = 38px
_select_float_height_md = 44px
_select_float_height_lg = 50px

// 字体浮动偏移量
_select_float_gap_sm = 2px
_select_float_gap_md = 8px
_select_float_gap_lg = 10px


/* Input */

// 字体大小
_input_font_sm = 12px;
_input_font_md = 14px;
_input_font_lg = 16px;

// 宽度
_input_width_sm = 140px
_input_width_md = 230px
_input_width_lg = 320px

// 浮动时的高度
_input_float_height_sm = 38px
_input_float_height_md = 44px
_input_float_height_lg = 50px

// 字体浮动偏移量
_input_float_gap_sm = 2px
_input_float_gap_md = 8px
_input_float_gap_lg = 10px

/* Tab */

// 默认高度
_tab_height = 40px;

// 默认选中颜色
_tab_active_color = _blue;

// theme:ticket
_tab_ticket_color = #f5ddac;
_tab_ticket_active_color = #cc4454;

// theme:card
_tab_card_color = #f5f7f9;
_tab_card_active_color = _blue;

/* Swipe */

// index大小
_swipe_size = 10px

/* BackTop */
_backTop_right = 30px;
_backTop_bottom = 30px;

