@import '../../style/';

.hiui-icon {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  font-size: _default_icon_size;
  color: _default_icon_color;
  overflow: hidden;

  svg {
    display: block;
  }
}

.hiui-icon-rotate {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}