@import '../../style/';

_default_size = 24px;

.hiui-icon { 
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: _default_size;
  height: _default_size;
  overflow: hidden;
  
  svg {
    display: block;
  }
}

.hiui-icon-rotate {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}