@import '../../style/';

.hiui-spinner {
  color: #666;
  vertical-align: middle;
  text-align: center;

  &.hiui-spinner-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: _blue;
    background-color: rgba(0, 0, 0, .8);
    z-index: 99;

    .hiui-spinner-content {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .hiui-icon {
      display: block;
    }
  }
}

