@import '../../style/';

_default = #d9d9d9;
_default_deep = #666;
_themes = 'red', 'blue', 'yellow', 'green';

.hiui-btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  color: _default_deep;
  border: 1px solid _default;
  background-color: #fff;
  user-select: none;
  position: relative;
  color: rgba(0 ,0 , 0, .65);
  outline: none;
  box-shadow: none;
  transition: all .3s;

  &:not(.disabled):active {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
  }

  &.disabled {
    opacity: .3;
  }
}

for size in _size {
  .hiui-btn-{size} {
    padding: 0 _btn_gap_ + size;
    font-size: _btn_font_ + size;
    height: _size_ + size;

    .hiui-icon {
      font-size: _btn_icon_ + size;
      vertical-align: top;
    }
  }
}
