_size_l = xsm, sm, md, lg, xlg;
_size = sm, md, lg;

/*
 * gap
 */
_gap_xsm = 6px;
_gap_sm = 12px;
_gap_md = 20px;
_gap_lg = 30px;
_gap_xlg = 44px;

:export {
  gap_xsm: _gap_xsm;
  gap_sm: _gap_sm;
  gap_md: _gap_md;
  gap_lg: _gap_lg;
  gap_xlg: _gap_xlg;
}

/*
 * size
 */
_size_sm_o = 28px;
_size_md_o = 40px;
_size_lg_o = 52px;

:export {
  size_sm_o: _size_sm_o;
  size_md_o: _size_md_o;
  size_lg_o: _size_lg_o;
}

/*
 * size
 */
_size_sm = 24px;
_size_md = 34px;
_size_lg = 44px;

:export {
  size_sm: _size_sm;
  size_md: _size_md;
  size_lg: _size_lg;
}
