_size_o = xsm, sm, md, lg, xlg;
_size = sm, md, lg;

/*
 * gap
 */
_gap_xsm = 14px;
_gap_sm = 20px;
_gap_md = 30px;
_gap_lg = 44px;
_gap_xlg = 62px;

:export {
  gap_xsm: _gap_xsm;
  gap_sm: _gap_sm;
  gap_md: _gap_md;
  gap_lg: _gap_lg;
  gap_xlg: _gap_xlg;
}

/*
 * outer_size
 */
_size_o_sm = 28px;
_size_o_md = 40px;
_size_o_lg = 56px;

:export {
  size_o_sm: _size_o_sm;
  size_o_md: _size_o_md;
  size_o_lg: _size_o_lg;
}

/*
 * inner_size
 */
_size_sm = 24px;
_size_md = 34px;
_size_lg = 44px;

:export {
  size_sm: _size_sm;
  size_md: _size_md;
  size_lg: _size_lg;
}

/*
 * border-radius
 */
_border_radius = 3px;

:export {
  border_radius: _border_radius;
}


