:root {
  // 通用间距 gap
  --gap_xsm: 14px;
  --gap_sm: 20px;
  --gap_md: 30px;
  --gap_lg: 44px;
  --gap_xlg: 62px;

  // 通用外尺寸 outer size
  --size_o_sm: 28px;
  --size_o_md: 40px;
  --size_o_lg: 56px;

  // 通用内尺寸 inter size
  --size_sm: 24px;
  --size_md: 34px;
  --size_lg: 44px;

  // Btn
  --btn-font_sm: 12px;
  --btn-font_md: 14px;
  --btn-font_lg: 16px;

  --btn-gap_sm: 8px;
  --btn-gap_md: 16px;
  --btn-gap_lg: 32px;

  --btn-icon_sm: 14px;
  --btn-icon_md: 18px;
  --btn-icon_lg: 22px;
}
