
// basal color
_white = #ffffff
_black = #323232

_grey = #cccccc
_grey_light = lighten(_grey, 40%)
_grey_lighter = lighten(_grey, 80%)
_grey_deep = darken(_grey, 25%)
_grey_deeper = darken(_grey, 50%)

_red = #f02f45
_red_light = lighten(_red, 30%)
_red_deep = darken(_red, 30%)

_green = #4fae9B
_green_light = lighten(_green, 30%)
_green_deep = darken(_green, 30%)

_blue = #00a0e9
_blue_light = lighten(_blue, 30%)
_blue_deep = darken(_blue, 30%)

_yellow = #fac450
_yellow_light = lighten(_yellow, 30%)
_yellow_deep = darken(_yellow, 30%)